@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body.rock-paper-scissors {
  background: linear-gradient(to right top, #131639, #1f3354);
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: block !important;
  place-items: unset !important;
}

html.rock-paper-scissors {
  min-width: fit-content;
}
